<Blazorise.Link To="@LinkUrl" Class="a-block d-flex align-items-center height-md" Style="@BackgroundStyle">
    <div class="text">
        <div class="post-meta">
            <span class="category">@Category</span>
            <span class="mr-2">@PostedDate </span> &bullet;
            <span class="ml-2"><span class="fa fa-comments"></span> @CommentCount</span>
        </div>
        <h3>@PostHeadline</h3>
    </div>
</Blazorise.Link>
