<li>
    <a href="@LinkUrl">
        <img src="@ImageUrl" alt="Image placeholder" class="mr-4">
        <div class="text">
            <h4>@PostHeadline</h4>
            <div class="post-meta">
                <span class="mr-2">@PostedDate</span> &bullet;
                <span class="ml-2"><span class="fa fa-comments"></span> @CommentCount</span>
            </div>
        </div>
    </a>
</li>