<Column ColumnSize="ColumnSize.Is12.OnDesktop.Is4.OnWidescreen" Class="sidebar">
    <div class="sidebar-box search-form-wrap">
        <div class="form-group has-search">
            <span class="icon fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search by keyword">
        </div>
    </div>
    <div class="sidebar-box">
        <div class="bio text-center">
            <img src="images/person_1.jpg" alt="ImageUrl Placeholder" class="img-fluid">
            <div class="bio-body">
                <h2>Meagan Smith</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem facilis sunt repellendus excepturi beatae porro debitis voluptate nulla quo veniam fuga sit molestias minus.</p>
                <p><a href="#" class="btn btn-primary btn-sm">Read my bio</a></p>
                <span class="social">
                    <Blazorise.Link To="/">
                        <Icon Name="@FontAwesomeIcons.Twitter" />
                    </Blazorise.Link>
                    <Blazorise.Link To="/">
                        <Icon Name="@FontAwesomeIcons.Facebook" />
                    </Blazorise.Link>
                    <Blazorise.Link To="/">
                        <Icon Name="@FontAwesomeIcons.Instagram" />
                    </Blazorise.Link>
                    <Blazorise.Link To="/">
                        <Icon Name="@FontAwesomeIcons.Youtube" />
                    </Blazorise.Link>
                    <Blazorise.Link To="/">
                        <Icon Name="@FontAwesomeIcons.Vimeo" />
                    </Blazorise.Link>
                    <Blazorise.Link To="/">
                        <Icon Name="@FontAwesomeIcons.Snapchat" />
                    </Blazorise.Link>
                </span>
            </div>
        </div>
    </div>
    <div class="sidebar-box">
        <h3 class="heading">Popular Posts</h3>
        <div class="post-entry-sidebar">
            <ul>
                <SidebarPostEntry LinkUrl="/" ImageUrlUrl="images/img_2.jpg" PostHeadline="Twats at sunrise" />
                <SidebarPostEntry LinkUrl="/" ImageUrlUrl="images/img_4.jpg" PostHeadline="Extreme bus waiting" />
                <SidebarPostEntry LinkUrl="/" ImageUrlUrl="images/img_12.jpg" PostHeadline="Vodka by the Wine Glass" />
            </ul>
        </div>
    </div>
    <div class="sidebar-box">
        <h3 class="heading">Categories</h3>
        <ul class="categories">
            <li><a href="#">Courses <span>(12)</span></a></li>
            <li><a href="#">News <span>(22)</span></a></li>
            <li><a href="#">Design <span>(37)</span></a></li>
            <li><a href="#">HTML <span>(42)</span></a></li>
            <li><a href="#">Web Development <span>(14)</span></a></li>
        </ul>
    </div>
    <div class="sidebar-box">
        <h3 class="heading">Tags</h3>
        <ul class="tags">
            <li><a href="#">Travel</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Freelancing</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Freelancing</a></li>
        </ul>
    </div>
</Column>