<div class="container">
    <div class="row mb-5">
        <div class="col-md-4">
            <h3>Paragraph</h3>
            <p>
                <img src="images/img_1.jpg" alt="ImageUrl placeholder" class="img-fluid">
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
        </div>
        <div class="col-md-6 ml-auto">
            <div class="row">
                <div class="col-md-7">
                    <h3>Latest Post</h3>
                    <div class="post-entry-sidebar">
                        <ul>
                            <li>
                                <a href="">
                                    <img src="images/img_6.jpg" alt="ImageUrl placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/img_3.jpg" alt="ImageUrl placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="images/img_4.jpg" alt="ImageUrl placeholder" class="mr-4">
                                    <div class="text">
                                        <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                        <div class="post-meta">
                                            <span class="mr-2">March 15, 2018 </span> &bullet;
                                            <span class="ml-2"><span class="fa fa-comments"></span> 3</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>

                <div class="col-md-4">

                    <div class="mb-5">
                        <h3>Quick Links</h3>
                        <ul class="list-unstyled">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Categories</a></li>
                        </ul>
                    </div>

                    <div class="mb-5">
                        <h3>Social</h3>
                        <ul class="list-unstyled footer-social">
                            <li>
                                <Blazorise.Link To="/">
                                    <Icon Name="@FontAwesomeIcons.Twitter" />
                                    Twitter
                                </Blazorise.Link>
                            </li>
                            <li>
                                <Blazorise.Link To="/">
                                    <Icon Name="@FontAwesomeIcons.Facebook" />
                                    Facebook
                                </Blazorise.Link>
                            </li>
                            <li>
                                <Blazorise.Link To="/">
                                    <Icon Name="@FontAwesomeIcons.Instagram" />
                                    Instagram
                                </Blazorise.Link>
                            </li>
                            <li>
                                <Blazorise.Link To="/">
                                    <Icon Name="@FontAwesomeIcons.Vimeo" />
                                    Vimeo
                                </Blazorise.Link>
                            </li>
                            <li>
                                <Blazorise.Link To="/">
                                    <Icon Name="@FontAwesomeIcons.Youtube" />
                                    Youtube
                                </Blazorise.Link>
                            </li>
                            <li>
                                <Blazorise.Link To="/">
                                    <Icon Name="@FontAwesomeIcons.Snapchat" />
                                    Snapchat
                                </Blazorise.Link>
                            </li>
                        </ul>





                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="color:white">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; @DateTime.Now.Year.ToString()
            All rights reserved | This template is made with <Icon Name="@FontAwesomeIcons.Heart" /> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </div>
</div>